/******************************************************************************/
/*GLOBAL PANEL SETTINGS*/
/******************************************************************************/

/*Disabling highlighting on tap throughout application*/
*{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

/*Formatting background panel*/
body{
  border-radius: 1000px;
  height: 300px;
  width: 430px;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-color: rgba(255,255,255,0.5); */
  animation-name: Panel_Blur;
  animation-duration: 0.5s;
}

/*Disabling drag on all buttons*/
button{
  -webkit-app-region: no-drag;
}

/*Disabling highlighting/copying across panel*/
*, *::after, *::before{
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
  cursor: default;
}

/******************************************************************************/
/*PANEL OBJECTS AND ATTRIBUTES*/
/******************************************************************************/

/*Main title at the top of the panel*/
.Translucent_Title{
display: inline-block;
font-family: Arial;
font-size: 13px;
font-weight: 600;
margin-left: 160px;
margin-top:3px;
color: rgba(20,20,20,0.7);
}

/*Path bar at the top of the panel*/
#Path_Bar{
  display: inline-block;
  height: 22px;
  width: 342px;
  border-radius: 15px;
  border: none;
  margin-left: 20px;
  margin-top: 14px;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 15px;
  font-family: Arial;
  font-weight: 550;
  background-color: rgba(255,255,255,0.8);
  color: rgba(48, 205, 217, 0.9);
  background-image: linear-gradient(rgba(117, 245, 255,0.8), rgba(48, 205, 217, 0.8));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s, color 1s;
  box-shadow: 0px 11px 30px 0px rgba(0,0,0,0.64);
  -webkit-transition: 1s ease-out;
}

#Path_Bar:hover{
cursor: text;
/* filter: saturate(1.2); */
filter:contrast(1.1);
-webkit-transition: 1s ease-out;
}

/*Path bar placeholder text*/
::placeholder {
  color: rgba(80, 80, 80, 0.8);
  opacity: 0.8;
}

/*Main left panel div*/
#Left_Panel  {
  z-index: 0;
  position: relative;
  margin-left: 20px;
  margin-top: 7px;
  width: 250px;
  height: 190px;
  background-color: rgba(255, 255, 255, 0.8);
  float: left;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  font-weight: 550;
  color: rgba(80, 80, 80, 0.8);
  line-height: 30px;
  -webkit-app-region: no-drag;
  background-image: linear-gradient(rgba(176, 249, 255,0.8),rgba(117, 245, 255,0.8), rgba(48, 205, 217, 0.8));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  transition: background-size 1s, color 1s;
  box-shadow: 0px 11px 30px 0px rgba(0,0,0,0.64);
}

#Left_Panel:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0%;
  bottom: 85%;
  left: 0;
  background: rgba(220, 220, 220, 0.7);
  border-radius: 15px 15px 0px 0px;
  -webkit-box-shadow: inset 0px 2px 2px 1.5px rgba(255,255,255,0.5);

}

#Right_Panel  {
  display: inline-flex;
  z-index: 5;
  position: relative;
  margin-top: 7px;
  margin-left: 22px;
  width: 100px;
  height: 190px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  -webkit-app-region: no-drag;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  font-weight: 550;
  color: rgba(80, 80, 80, 0.8);
  line-height: 30px;
  background-image: linear-gradient(rgba(176, 249, 255,0.8),rgba(117, 245, 255,0.8), rgba(48, 205, 217, 0.8));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  transition: background-size 1s, color 1s;
  box-shadow: 0px 11px 30px 0px rgba(0,0,0,0.64);
  -webkit-transition: 600ms ease-out;

}


/*Centering the folder preview image in the right panel*/
.Preview_Image_Division{
  position: fixed;
  margin-left: -9.5px;
}

#Right_Panel img{
  position: fixed;
  display:block;
  object-fit: cover;
  height: 70px;
  image-resolution: from-image;
  position: relative;
  margin-top: 38px;
  margin-left: 24px;
  -webkit-transition: opacity 0.1s ease-in-out;
  /* animation-name: Panel_Blur;
  animation-duration: 1s;
  animation-timing-function: ease-in-out; */
}

#Right_Panel:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0%;
  bottom: 85%;
  left: 0;
  background: rgba(220, 220, 220, 0.7);
  border-radius: 15px 15px 0px 0px;
  -webkit-box-shadow: inset 0px 2px 2px 1.5px rgba(255,255,255,0.5);
}

/*Preview label*/
.Right_Label{
  position: absolute;
  margin-left: 25px;
}

/******************************************************************************/
/*SLIDERS PROPERTIES*/
/******************************************************************************/

/*Hue slider body*/
#Hue_Slider_Object{
  margin-top: 20px;
  margin-left: 20px;
  -webkit-appearance: none;
  width: 180px;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  -webkit-box-shadow: inset 2px 2px 3px 0.5px rgba(180,180,180,0.85),-3px 3px 5px 1px rgba(0,0,0,0.1);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

}

/*Hue slider thumb*/
#Hue_Slider_Object::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(rgba(117, 245, 255,1), rgba(2, 161, 173, 1));;
  /* cursor: grab; */
  outline-width: 10px;
  outline-color: #15b6c2;
  border: 2px solid rgba(179, 255, 251,1);
  box-shadow: 0px 10px 13px -7px #000000, 0px 11px 18px 1px rgba(0,0,0,0.74);
  -webkit-transition: 1s ease;
  }

  /*H label for hue slider*/
#Hue_Label{
    position: absolute;
    float: left;
    margin-top: -30px;
    margin-left: 20px;
    font-size: 15px;
    -webkit-transition: 1s ease;

  }

/*Hue slider thumb hover properties*/
#Hue_Slider_Object::-webkit-slider-thumb:hover{
  transform: scale(1.1);
  filter: saturate(1.5);
  -webkit-transition: 0.5s ease;
}

#Hue_Slider_Object:hover + #Hue_Label{
transform: scale(1.2);
font-weight: bold;
-webkit-transition: transform 0.5s ease;
}


/*Saturation slider body*/
#Saturation_Slider_Object {
  margin-top: 15px;
  margin-left: 20px;
  -webkit-appearance: none;
  width: 180px;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  -webkit-box-shadow: inset 2px 2px 3px 0.5px rgba(180,180,180,0.85), -3px 3px 5px 1px rgba(0,0,0,0.1);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/*Saturation slider thumb*/
#Saturation_Slider_Object::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: linear-gradient(rgba(117, 245, 255,1), rgba(2, 161, 173, 1));;
  /* cursor: grab; */
  outline-width: 10px;
  outline-color: #15b6c2;
  border: 2px solid rgba(179, 255, 251,1);
  box-shadow: 0px 10px 13px -7px #000000, 0px 11px 18px 1px rgba(0,0,0,0.74);
  -webkit-transition: 0.2s ease;

}

/*Saturation slider thumb hover properties*/
#Saturation_Slider_Object::-webkit-slider-thumb:hover{
  transform: scale(1.1);
  filter: saturate(1.5);
  -webkit-transition: 0.2s ease;
}

/*S label for saturation slider*/
#Saturation_Label{
position: absolute;
float: left;
margin-top: -30px;
margin-left: 20px;
font-size: 15px;
-webkit-transition: transform 0.5s ease;
}

#Saturation_Slider_Object:hover + #Saturation_Label{
transform: scale(1.2);
font-weight: bold;
-webkit-transition: transform 0.5s ease;
}


.Favourite_Button_Container input{
display: none;
}


.Favourite_Button_Container{
  position: absolute;
  margin-left: 65px;
  background: none;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
  -webkit-transition: 400ms ease-out;
}


.Favourite_Button_Container.checked{
background: none;
color: green;
color: rgba(80, 80, 80, 0.8);
color: transparent;
background: rgba(48, 205, 217, 0.8);
-webkit-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
-webkit-transition: 400ms ease-out;

}


/******************************************************************************/
/*BUTTON PROPERTIES*/
/******************************************************************************/

/*Paint button*/
.Select_Button{
  position: fixed;
  visibility: hidden;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  border-style: none;
  font-family: Arial;
  font-size: 13px;
  font-weight: 550;
  color: rgba(252, 252, 252, 1);
  margin-top: 115px;
  margin-left: 25px;
  background: rgba(48, 205, 217, 0.9);
  cursor: pointer;
  text-decoration:none;
  -webkit-transition: 500ms linear;

}

/*Paint button hover properties*/
.Select_Button:Hover{
  -webkit-transition: 500ms linear;
  background: rgba(255, 255, 255, 0);
  color: rgba(48, 205, 217, 0.9);
}

/*Colour palette section*/
.Colour_Palette{
  margin-left: -70px;
  margin-top: 12px;
}

/*Reset button (colour 0)*/
#Colour_0{
position: absolute;
margin-top: -60px;
margin-left: 87px;
height: 50px;
width: 50px;
font-size: 50px;
font-weight: 300;
padding-left: 10.5px;
line-height: 42px;
color: rgba(250, 250, 250, 0.95);
display: inline-flex;
border-radius: 12px;
border-style: none;
background: #d3d3d3;;

-webkit-box-shadow: inset 2px 2px 3px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
-webkit-transition: 400ms ease-out;
}

#Colour_0:hover{
  transform: saturate(2);
  transform: scale(1.05);
  -webkit-transition: 400ms ease-out;
}

/*Color palette individual colours*/
#Colour_1{
  margin: 1px;
  margin-left: 0px;
  height: 22px;
  width: 22px;
  border-radius: 11px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(246, 108, 190, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 400ms ease-in;
}

#Colour_1:hover{
  filter: contrast(1.5);
  transform: scale(1.2);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 400ms ease-out;
}

#Colour_2{
  margin: 1px;
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 11px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(245, 73, 98, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 400ms ease-out;
}

#Colour_2:hover{
  filter: contrast(1.5);
  transform: scale(1.2);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 400ms ease-out;
}

#Colour_3{
  margin: 1px;
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 11px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(245, 155, 92, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 400ms ease-out;
}

#Colour_3:hover{
  filter: contrast(1.5);
  transform: scale(1.2);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 400ms ease-out;
}

#Colour_4{
  margin: 1px;
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 11px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(246, 220, 91, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 400ms ease-out;
}

#Colour_4:hover{
  filter: contrast(1.5);
  transform: scale(1.2);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 400ms ease-out;
}

#Colour_5{
  margin: 1px;
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 11px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(149, 246, 88, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 400ms ease-out;
}

#Colour_5:hover{
  filter: contrast(1.5);
  transform: scale(1.2);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 400ms ease-out;
}

#Colour_6{
  margin: 1px;
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 11px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(87, 248, 184, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 400ms ease-out;
}

#Colour_6:hover{
  filter: contrast(1.5);
  transform: scale(1.2);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 400ms ease-out;
}

#Colour_7{
  margin: 1px;
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 11px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(86, 242, 249, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 400ms ease-out;
}

#Colour_7:hover{
  filter: contrast(1.5);
  transform: scale(1.2);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 400ms ease-out;
}

#Colour_8{
  margin: 1px;
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 11px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(179, 97, 246, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 400ms ease-out;
}

#Colour_8:hover{
  filter: contrast(1.5);
  transform: scale(1.2);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 400ms ease-out;
}

#Colour_9{
  margin: 1px;
  height: 22px;
  width: 22px;
  border: none;
  border-radius: 11px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(80, 86, 245, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 400ms ease-out;
}

#Colour_9:hover{
  filter: contrast(1.5);
  transform: scale(1.2);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 400ms ease-out;
}

#Favourites_Card_Panel{
visibility: visible;
height: 25px;
width: 280px;
background-color: rgba(255, 255, 255, 0.3);
position: absolute;
display: inline-flex;
margin-left: -289px;
margin-top: 230px;
/* border-radius: 15px; */
background: rgb(255,255,255);
background: rgb(255,255,255);
background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(240,240,240,0.4) 25%, rgba(240,240,240,0.4) 50%, rgba(240,240,240,0.4) 75%, rgba(255,255,255,0) 100%);
}

.Favourites_Tab_Bottom_Button input{
display: none;
-webkit-transition: 400ms ease-out;

}

.Favourites_Tab_Bottom_Button:hover{
transform: scale(1.5);
-webkit-transition: 400ms ease-out;
}


.Favourites_Tab_Bottom_Button{
  position: absolute;
  margin-left: -7px;
  margin-top: -8px;
  background: none;
  color: rgba(200, 200, 200, 0.7);
  -webkit-transition: 400ms ease-out;
}

.Favourites_Tab_Bottom_Button.checked{
background: none;
color: rgba(48, 205, 217, 0.8);
background: none;
-webkit-transition: 400ms ease-out;
}




#Favourite_1{
  margin: 1px;
  margin-left: 18.5px;
  height: 22px;
  width: 22px;
  border-radius: 6px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(240, 240, 240, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 100ms linear;
}

#Favourite_1:hover{
  z-index: 1;
  filter: contrast(1.5);
  transform: scale(1.5);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 100ms linear;

}

#Favourite_2{
  margin: 1px;
  margin-left: 2px;
  height: 22px;
  width: 22px;
  border-radius: 6px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(240, 240, 240, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 100ms linear;
}

#Favourite_2:hover{
  filter: contrast(1.5);
  transform: scale(1.5);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 100ms linear;
}



#Favourite_3{
  margin: 1px;
  margin-left: 2px;
  height: 22px;
  width: 22px;
  border-radius: 6px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(240, 240, 240, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 100ms linear;
}

#Favourite_3:hover{
  filter: contrast(1.5);
  transform: scale(1.5);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 100ms linear;
}

#Favourite_4{
  margin: 1px;
  margin-left: 2px;
  height: 22px;
  width: 22px;
  border-radius: 6px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(240, 240, 240, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 100ms linear;
}

#Favourite_4:hover{
  filter: contrast(1.5);
  transform: scale(1.5);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 100ms linear;
}

#Favourite_5{
  margin: 1px;
  margin-left: 2px;
  height: 22px;
  width: 22px;
  border-radius: 6px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(240, 240, 240, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 100ms linear;
}

#Favourite_5:hover{
  filter: contrast(1.5);
  transform: scale(1.5);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 100ms linear;
}

#Favourite_6{
  margin: 1px;
  margin-left: 2px;
  height: 22px;
  width: 22px;
  border-radius: 6px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(240, 240, 240, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 100ms linear;
}

#Favourite_6:hover{
  filter: contrast(1.5);
  transform: scale(1.5);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 100ms linear;
}

#Favourite_7{
  margin: 1px;
  margin-left: 2px;
  height: 22px;
  width: 22px;
  border-radius: 6px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(240, 240, 240, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 100ms linear;
}

#Favourite_7:hover{
  filter: contrast(1.5);
  transform: scale(1.5);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 100ms linear;
}

#Favourite_8{
  margin: 1px;
  margin-left: 2px;
  height: 22px;
  width: 22px;
  border-radius: 6px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(240, 240, 240, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 100ms linear;
}

#Favourite_8:hover{
  filter: contrast(1.5);
  transform: scale(1.5);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 100ms linear;
}

#Favourite_9{
  margin: 1px;
  margin-left: 2px;
  height: 22px;
  width: 22px;
  border-radius: 6px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(240, 240, 240, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 100ms linear;
}

#Favourite_9:hover{
  filter: contrast(1.5);
  transform: scale(1.5);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 100ms linear;
}

#Favourite_10{
  margin: 1px;
  margin-left: 2px;
  height: 22px;
  width: 22px;
  border-radius: 6px;
  border: 2px solid rgba(240, 240, 240,0.8);
  background: rgba(240, 240, 240, 1);
  -webkit-box-shadow: inset 0px 2px 2px 0.8px rgba(0,0,0,0.3), -3px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-transition: 100ms linear;
}

#Favourite_10:hover{
  filter: contrast(1.5);
  transform: scale(1.5);
  border: 3px solid rgba(250, 250, 250,1);
  -webkit-transition: 100ms linear;
}

.Rotate_Button{
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}


/******************************************************************************/
/*ANIMATIONS/TRANSITIONS*/
/******************************************************************************/

/*Keyframes for blurring at application startup*/
@keyframes Panel_Blur {
  0% {filter: blur(50px);}
  10%{filter: blur(30px);}
  20%{filter: blur(26px);}
  30%{filter: blur(14px);}
  40%{filter: blur(12px);}
  50%{filter: blur(10px);}
  60%{filter: blur(8px);}
  70% {filter: blur(6px);}
  80% {filter: blur(4px);}
  90% {filter: blur(2px);}
  100% {filter: blur(0px);}
}

@@keyframes Preview_Blur {
  0% {opacity: 0;}
  10%{opacity: 0.05;}
  20%{opacity: 0.1;}
  30%{opacity: 0.15;}
  40%{opacity: 0.2;}
  50%{opacity: 0.3;}
  60%{opacity: 0.4;}
  70%{opacity: 0.5;}
  80%{opacity: 0.6;}
  90%{opacity: 0.9;}
  100%{opacity: 1;}
}

.Colour_Palette_Button_Animation{
  -webkit-animation: moveall 5s;
  animation: moveall 5s;
}


.Fade_Out_Animation{
  -webkit-animation: Fade_Out_Frames 2s;
  animation: Fade_Out_Frames 2s ease-in-out;
}

/*Key frames for colour palette button is pressed*/
@keyframes Fade_Out_Frames{
0%{filter: opacity(1);}
10%{filter: opacity(0.98);}
20%{filter: opacity(0.95);}
30%{filter: opacity(0.9);}
40%{filter: opacity(0.8);}
50%{filter: opacity(0.6);}
60%{filter: opacity(0.4);}
70%{filter: opacity(0.3);}
80%{filter: opacity(0.2);}
90%{filter: opacity(0.1);}
100%{filter: opacity(0);}
}

.Fade_In_Animation{
  -webkit-animation: Fade_In_Frames 1.5s;
  animation: Fade_In_Frames 1.5s ease-in;
}

@keyframes Fade_In_Frames{
0%{filter: opacity(0); visibility: visible;}
10%{filter: opacity(0.1);}
20%{filter: opacity(0.2);}
30%{filter: opacity(0.3);}
40%{filter: opacity(0.4);}
50%{filter: opacity(0.6);}
60%{filter: opacity(0.8);}
70%{filter: opacity(0.9);}
80%{filter: opacity(0.95);}
90%{filter: opacity(0.98);}
100%{filter: opacity(1);}
}


.Slide_Up_Animation{
  -webkit-animation: Slide_Up 1s;
  animation: Slide_Up 1s ease-out;
}

@keyframes Slide_Up{
0%{margin-top: 230px;}
57%{margin-top: 180px;}
100%{margin-top: 195px;}

}

.Slide_Down_Animation{
  -webkit-animation: Slide_Down s;
  animation: Slide_Down 0.8s ease-out;
}

@keyframes Slide_Down {
0%{margin-top: 195px;}
100%{margin-top: 230px;}

}
